@import "../css/App.css";
.carouselContainer {
  margin: 40% 5% 15% 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.wrapper {
  width: 100%;
  position: relative;
  top: 0%;
  left: 0%;
  /* perspective: 900px; */
  perspective: 450px;
}
/* .left, */
.right {
  width: 5%;
  font-size: 2em;
  position: relative;
  top:8vh;
  left: -40%;
  /* transform: translate(-50%, -50%); */
  cursor: pointer;
}
.left {
  width: 5%;
  font-size: 2em;
  position: relative;
  top: 8vh;
  left: 40%;
  /* transform: translate(-50%, -50%); */
  cursor: pointer;
}
/* .left {
  margin-left: -45%;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-top-width: 25px;
  border-bottom-width: 25px;
  border-right: 40px solid black;
}
.right {
  margin-left: 45%;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-bottom-width: 25px;
  border-top-width: 25px;
  border-left: 40px solid black;
} */
.carousel {
  /* transform-origin: center center -450px; */
  transform-origin: center center -225px;
  transform-style: preserve-3d;
  transition: all 1s;
}
.carouselCard {
  position: absolute;
  top: 50%;
  left: 50%;
  
  margin-top: -100px;
  margin-left: -75px;
  width: 150px;
  height: 100px;
  transform-origin: center center;
}
.carouselCard img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.carouselCard:nth-of-type(1) {
  transform: translate3d(0, 0, 0px) rotateY(0deg);
}
.carouselCard:nth-of-type(2) {
  transform: translate3d(160px, 0, -65px) rotateY(45deg);
}
.carouselCard:nth-of-type(3) {
  transform: translate3d(225px, 0, -225px) rotateY(90deg);
}
.carouselCard:nth-of-type(4) {
  transform: translate3d(160px, 0, -385px) rotateY(135deg);
}
.carouselCard:nth-of-type(5) {
  transform: translate3d(0, 0, -450px) rotateY(180deg);
}
.carouselCard:nth-of-type(6) {
  transform: translate3d(-160px, 0, -385px) rotateY(225deg);
}
.carouselCard:nth-of-type(7) {
  transform: translate3d(-225px, 0, -225px) rotateY(270deg);
}
.carouselCard:nth-of-type(8) {
  transform: translate3d(-160px, 0, -65px) rotateY(315deg);
}

/* tablet */
@media screen and (max-width: 900px) and (min-width: 600px) {
  .wrapper{
    perspective: 675px;
}
    .carousel {
    transform-origin: center center -450px;
  }

  .carouselCard {
  margin-top: -200px;
  margin-left: -150px;
  width: 300px;
  height: 200px;
  }
  .right {
    font-size: 3em;
    top: 9vh;
    
  }
  .left {
    font-size: 3em;
    top:9vh;
  }
  .carouselCard:nth-of-type(1) {
    transform: translate3d(0, 0, 0px) rotateY(0deg);
  }
  .carouselCard:nth-of-type(2) {
    transform: translate3d(320px, 0, -130px) rotateY(45deg);
  }
  .carouselCard:nth-of-type(3) {
    transform: translate3d(450px, 0, -450px) rotateY(90deg);
  }
  .carouselCard:nth-of-type(4) {
    transform: translate3d(320px, 0, -770px) rotateY(135deg);
  }
  .carouselCard:nth-of-type(5) {
    transform: translate3d(0, 0, -900px) rotateY(180deg);
  }
  .carouselCard:nth-of-type(6) {
    transform: translate3d(-320px, 0, -770px) rotateY(225deg);
  }
  .carouselCard:nth-of-type(7) {
    transform: translate3d(-450px, 0, -450px) rotateY(270deg);
  }
  .carouselCard:nth-of-type(8) {
    transform: translate3d(-320px, 0, -130px) rotateY(315deg);
  }
}

/*desktop*/
@media screen and (min-width: 900px) {
    
    .carouselContainer {
        margin: 25% 5% 10% 5%;
    }
    .wrapper{
        perspective: 900px;
    }
        .carousel {
        transform-origin: center center -450px;
      }
    
      .carouselCard {
        margin-top: -200px;
        margin-left: -150px;
        width: 300px;
        height: 200px;
      }
      .right {
        font-size: 4em;
        top: -10vh;
        left: -20vh
        
      }
      .left {
        font-size: 4em;
        top:-10vh;
        left:20vh;
      }
 
 
 
      .carouselCard:nth-of-type(1) {
        transform: translate3d(0, 0, 0px) rotateY(0deg);
      }
      .carouselCard:nth-of-type(2) {
        transform: translate3d(320px, 0, -130px) rotateY(45deg);
      }
      .carouselCard:nth-of-type(3) {
        transform: translate3d(450px, 0, -450px) rotateY(90deg);
      }
      .carouselCard:nth-of-type(4) {
        transform: translate3d(320px, 0, -770px) rotateY(135deg);
      }
      .carouselCard:nth-of-type(5) {
        transform: translate3d(0, 0, -900px) rotateY(180deg);
      }
      .carouselCard:nth-of-type(6) {
        transform: translate3d(-320px, 0, -770px) rotateY(225deg);
      }
      .carouselCard:nth-of-type(7) {
        transform: translate3d(-450px, 0, -450px) rotateY(270deg);
      }
      .carouselCard:nth-of-type(8) {
        transform: translate3d(-320px, 0, -130px) rotateY(315deg);
      }
}
