@import "../css/App.css";
.section {
  height: 85vh;
  width: 100%;
  text-align: center;
  padding: 4%;
  align-content:center;
}
.section h3 {
  color: var(--primaryColor);
  font-size: 1.9em;
  margin-bottom: 7%;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 0.5fr));
  gap: 30px;
  padding: 7% 18%;
}

.cardCourse {
  position: relative;
  width: 100%;
  margin-bottom: 6%;
  border: 2px solid var(--primaryColor);
  border-radius: 10%;
  overflow:hidden;
  box-shadow: var(--lightShadow);
}

.cardCourse:hover{
  box-shadow: var(--darkShadow);
}

.cardCourse img {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
}

.cardCourse:hover img {
  opacity: 0.5;
  font-size: 1em;
}
.cardCourse h4 {
  position: absolute;
  left: 0;
  top: 65px;
  font-size: 1.7em;
  width: 100%;
  text-align: center;
  color: var(--darkGreen);
  z-index: 1;
  transition: 0.5s ease-in;
}

.cardCourse:hover h4 {
  top: 10px;
  font-size: 1.3em;
}

.cardCourse p {
  position: relative;
  top: -15px;
  height: 80px;
  z-index: 2;
  margin: 8%;
  text-align: center;
  font-size: 0.7em;
  color: var(--mainBlack);
  opacity: 0;
  transition: 0.5s ease-in;
}

.cardCourse:hover p {
  opacity: 1;
}

.cardCourse button {
  position: relative;
  top: 130px;
  cursor: pointer;
  width: 25%;
  text-decoration: none;
  transition: 0.5s ease-in;
  opacity: 0;
}
.cardCourse:hover button {
  opacity: 1;
}
.cardCourse a {
  width: 50%;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
/* tablet */
@media screen and (max-width: 900px) and (min-width: 600px) {
  .section {
    padding: 5%;
    height: 90vh;
  }
  .container {
    grid-template-columns: repeat(auto-fit, minmax(227.8px, 1fr));
  }

}

/*desktop*/
@media screen and (min-width: 900px) {
  .section {
    padding: 3%;
    height: 60vh;
  }
  .container {
    padding: 0% 8%;
    grid-template-columns: repeat(auto-fit, minmax(227.8px, 1fr));

  }

 
}
