@import "../css/App.css";

.formBox {
  margin: 10% auto;
  width: 70%;
  min-height: 30vh;
  padding: 6%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.no-showForm {
  display: none;
}
.showForm {
  display: block;
}
.formBox h3 {
  margin: 0 auto 7%;
  color: var(--mainWhite);
  text-align: center;
  font-size: 1.5em;
}

.userBox {
  position: relative;
}

.userBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 1.1em;
  color: var(--mainWhite);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--mainWhite);
  outline: none;
  background: transparent;
  cursor: pointer;
}
.userBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 1.1em;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.userBox span {
  position: relative;
  top: -30px;
  left: 0;
  padding: 10px 0;
  font-size: 13px;
  color: red;
  pointer-events: none;
  transition: 0.5s;
}
/* ----- */     

.userBox input:focus ~ label
{
  top: -20px;
  left: 0;
  color: var(--lightGreen);
  font-size: 12px;
}
.userBox input:valid ~ label
{
  top: -20px;
  left: 0;
  color: var(--lightGreen);
  font-size: 12px;
}
.userBox input:active ~ input{
  background: transparent;
}

/* --------- */
.dateBox input {
  color: transparent;
}

.dateBox:hover input {
  color: #fff;
}
.dateBox:not(:valid) input {
  color: transparent;
}
.dateBox:valid input {
  color:#fff;
}
.formBtn {
  margin-left: 60%;
  margin-bottom: 0;
}



/* tablet */
@media screen and (max-width: 900px) and (min-width: 600px) {
  .formBox {
    width: 60%;
    margin: 10% auto;
    min-height: 25vh;
  }
}

/*desktop*/
@media screen and (min-width: 900px) {
  .formBox {
    width: 50%;
  }
  .formBox h3 {
    font-size: 1.5em;
  }

  .formBtn {
    width: 20%;
    margin-left: 80%;
    font-size: 1em;
  }
  /*   */
  .userBox input:user-valid ~ label,
.userBox input:hover ~ label
{
  top: -20px;
  left: 0;
  color: var(--lightGreen);
  font-size: 12px;
}
/*  */
}
