@import "../css/App.css";

.error {
  width: 100%;
  margin: 15% auto;
  text-align: center;
}

.errorImg {
  width: 40%;
  padding: 5%;
  margin: 0 auto;
}
.error h4 {
  font-size: 1.5em;
  margin: 5%;
}
/* tablet */
@media screen and (max-width: 900px) and (min-width: 600px) {
}

/*desktop*/
@media screen and (min-width: 900px) {
  .error {
    margin: 5% auto;
  }
  .error img {
    width: 20%;
    padding: 2%;
  }
  .error h4 {
    font-size: 2em;
  }
  .error ol {
    font-size: 1.5em;
  }
}
