@import "../css/App.css";
.containerDog {
  display: block;
  margin: 7%;
}
.containerDog h3 {
  text-align: center;
  font-size: 1.5em;
  color: var(--darkGreen);
  margin: 10% auto;
}

.containerDog img {
  object-fit: cover;
  object-position: center;
  max-height: 30vh;
  width: 90%;
  border-radius: 15%;
  border: 2px solid var(--primaryColor);
  box-shadow: var(--lightShadow);
  margin: 10% auto;
}

.description {
  border-radius: 15%;
  border: 2px solid var(--primaryColor);
  padding: 5%;
  background: rgb(175, 154, 125);
  background: radial-gradient(
    circle,
    rgba(175, 154, 125, 1) 0%,
    rgba(41, 93, 9, 1) 100%
  );
  box-shadow: var(--lightShadow);
  margin: 10% auto;
  
}
.description table{
  border-collapse: separate;
  border-spacing: 30px 0;
}
.containerDog img:hover,
.description:hover {
  box-shadow: var(--darkShadow);
}
.description table {
  margin: 0 auto;
}
/* tablet */
@media screen and (max-width: 900px) and (min-width: 600px) {
  .containerDog h3 {
    font-size: 4em;
  }
  .containerDog img {
    margin: 8% auto;
    width: 90%;
    max-height: 35vh;
  }
  .description {
    width: 90%;
    margin: 0 auto;
    font-size: 1.3em;
    text-align: left;
  }
}

/*desktop*/
@media screen and (min-width: 900px) {
  .containerDog {
    display: flex;
    flex-direction: column;
  }
  .containerGroup {
    flex-direction: row;
  }
  .containerDog h3 {
    font-size: 4em;
    margin: 0 0 5% 0;
  }
  .containerDog img {
    width: 45%;
    max-height: 63vh;

    display: flex;
    float: left;
    margin: 5% auto;
  }
  .description {
    width: 45%;
    font-size: 1.6em;
    padding: 4%;
    float: right;
    margin: 5% auto;
  }
}
