@import "../css/App.css";
.containerDog {
  display: block;
  margin:7%;
}
.containerDog h3 {
  text-align: center;
  font-size: 1.5em;
  color: var(--darkGreen);
  margin: 10% 0 10% 0;
}

.containerDog img {
 object-fit: cover;
  max-height: 50vh;
  border-radius: 15%;
  border: 2px solid var(--primaryColor);
  box-shadow: var(--lightShadow);
  margin: 10% 15% 10% 15%;
}

.description {
  border-radius: 15%;
  border: 2px solid var(--primaryColor);
  padding: 5%;
  background: rgb(175, 154, 125);
  background: radial-gradient(
    circle,
    rgba(175, 154, 125, 1) 0%,
    rgba(41, 93, 9, 1) 100%
  );
  box-shadow: var(--lightShadow);
  margin: 10% 0 10% 0;
}

.description table {
  margin: 0 auto;
}
/* tablet */
@media screen and (max-width: 900px) and (min-width: 600px) {
  .containerDog h3 {
    font-size: 1.9em;
  }
  .containerDog img {
     margin: 8% 26% 8% 26%;
   }
  .description {
    width: 90%;
    margin :0 auto;
    font-size: 1.3em;
    text-align: left;
  }
}

/*desktop*/
@media screen and (min-width: 900px) {
  .containerDog h3 {
    font-size: 3em;
    margin: 0 0 5% 0;
  }
  .containerDog img {
    width: 45%;
    max-height: 79vh;

    display: flex;
    float: left;
    margin: 5% 0 5% 0;

  }
  .description {
    width: 45%;
    font-size: 1.6em;
    padding:2%;
    float: right;
    margin: 5% 0 5% 0;
  }
}
