@import "../css/App.css";
.deleteBtn {
  width: 30%;
  margin: 0 auto;
}
.deleteBtn button {
  width: 100%;
  text-decoration: none;
  margin: 4.6%;
  color: var(--mainBlack);
  background: red;
  padding: 0.4rem 0.9rem;
  border: 3px solid red;
  border-radius: 25%;
  transition: var(--mainTransition);
  z-index: 100;
  cursor: pointer;
  box-shadow: var(--lightShadow);
}
.deleteBtn button:hover {
  background: transparent;
  color: red;
  box-shadow: var(--darkShadow);
  transition: all 1s;
  transform: scale(1.1);
}
/*  */
.updateBtn {
  width: 30%;
  margin: 0 auto;
}
.updateBtn button {
  width: 100%;
  text-decoration: none;
  margin: 4.6%;
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  border-radius: 25%;
  transition: var(--mainTransition);
  z-index: 100;
  cursor: pointer;
  box-shadow: var(--lightShadow);
}
.updateBtn button:hover {
  background: transparent;
  color: var(--primaryColor);
  box-shadow: var(--darkShadow);
  transition: all 1s;
  transform: scale(1.1);
}
/* tablet */
@media screen and (max-width: 900px) and (min-width: 600px) {
  .deleteBtn,
  .updateBtn {
    width: 20%;
  }
}

/*desktop*/
@media screen and (min-width: 900px) {
  .deleteBtn,
  .updateBtn {
    width: 15%;
  }
}
